<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>

    <div class="outlined-box">
      <img [src]="photoUrl" alt="Profile Photo" class="profile-photo" />
      <p class="profile-name">Amarra</p>
      <p class="profile-nim">H1D022064</p>
    </div>
  </div>
</ion-content>
